
.chart-wrapper {
	background-color: transparent;
	height: 100%;
	
	svg {
		border: 1px solid rgb(248, 246, 246);
		background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%,rgba(248, 246, 246, 0.35) 50%,rgba(0, 0, 0, 0.2) 100%);
		margin-bottom: 1.5rem;
		
		& > g {
			text {
				fill: rgb(248, 246, 246);
				text-anchor: middle;
			}
		
			rect {
				fill: black;
			}
		}	
	}
}