@use '../../index.scss' as *;

.banner-wrapper {
	background-color: transparent;
	width: 35rem;
	
	header{
		color: $cream-white;
		text-align: center;
		padding-top: 0.5rem;
		margin: 0rem 0rem 0.5rem;
		
		& > h2 {
			margin: 0;
			font-weight: 300;
		}
	}
		
	& > .table-wrapper {
		& > table {
			background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%,rgba($cream-white, 0.3) 50%,rgba(0, 0, 0, 0.3) 100%);
		}
	}
}